<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Aluno</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Criar Aluno</h2>
        <form action="{{ url_for('alunos.create_aluno') }}" method="POST">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="mb-3">
                <label for="data_nascimento" class="form-label">Data de Nascimento (dd/mm/yyyy)</label>
                <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" placeholder="DD/MM/YYYY" required>
            </div>
            <div class="mb-3">
                <label for="nota_primeiro_semestre" class="form-label">Nota Primeiro Semestre</label>
                <input type="number" step="0.01" class="form-control" id="nota_primeiro_semestre" name="nota_primeiro_semestre" required>
            </div>
            <div class="mb-3">
                <label for="nota_segundo_semestre" class="form-label">Nota Segundo Semestre</label>
                <input type="number" step="0.01" class="form-control" id="nota_segundo_semestre" name="nota_segundo_semestre" required>
            </div>
            <div class="mb-3 form-group">
                <label for="turma_id">Turmas:</label>
                <select class="form-control" id="turma_id" name="turma_id" required>
                    {% for turma in turmas %}
                        <option value="{{ turma.id }}">{{ turma.materia }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Criar Aluno</button>
            <a href="{{ url_for('alunos.get_alunos') }}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>