<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplicação Escolar{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('turmas.get_turmas') }}">Aplicação Do Caio vulgo Sapequinha</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('turmas.get_turmas') }}">Turmas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('professores.get_professores') }}">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('alunos.get_alunos') }}">Alunos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>
